<!--
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:;;;cdkkdl:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;cdOXWMMWNKkdl::;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;cdOXWMMMMMMMMMMNK0Oxoc;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;cdOXWMMMMMMMMMMMMMMMMMMWX0xoc:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;cdOXWMMMMMMMMMMMMMMMMMMMMMMMMMWX0kdl:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:cdOXWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWNKOdl:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:;;;:cdOXWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNKOxoc;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;:;;;;;;;;;;:cdOXWMMMMMMMMMMMMMMMMMMNKKNWMMMMMMMMMMMMMMMMMMMMMMMMWX0koc:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;::;:;;;;;;:ldOXWMMMMMMMMMMMMMMMMMMN0xl::ldk0XWMMMMMMMMMMMMMMMMMMMMMMMMWN0kdl:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;:;;;;:ld0NWMMMMMMMMMMMMMMMMMMN0xl:;;;;;;;:codxOXWMMMMMMMMMMMMMMMMMMMMMMMWNKOxl:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;:lx0NWMMMMMMMMMMMMMMMMMWN0xl:;;;;;;;;;;;;;;;;coxOKNWMMMMMMMMMMMMMMMMMMMMMMMWXOxoc;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;:;;:lx0NWMMMMMMMMMMMMMMMMMWN0xl:;;;;;;;;;;;;;;;;;;;;;;;:ldk0NWMMMMMMMMMMMMMMMMMMMMMMMWX0kdc:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;:;;:lx0NWMMMMMMMMMMMMMMMMMWN0xl:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:cox0XWMMMMMMMMMMMMMMMMMMMMMMMWNKkdl:;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;:lx0NWMMMMMMMMMMMMMMMMMWXOdl:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;coxOKNMMMMMMMMMMMMMMMMMMMMMMMMNKOxoc;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;::;;:lx0NMMMMMMMMMMMMMMMMMMWXOdl:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:ldkKNWMMMMMMMMMMMMMMMMMMMMMMMWX0xoc;;;;;;;;;;;;;;;;;
;;;;;;;;;:;;:lx0NMMMMMMMMMMMMMMMMMMWXOdc:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:ldk0XWMMMMMMMMMMMMMMMMMMMMMMMWN0kdl:;;;;;;;;;;;;
;;;;;;;;;:ox0NMMMMMMMMMMMMMMMMMMWXOdc:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:coxOXWMMMMMMMMMMMMMMMMMMMMMMMWNKOdl:;;;;;;;;
;;;;;;;:o0NMMMMMMMMMMMMMMMMMMMMN0dc:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:lxOKNWMMMMMMMMMMMMMMMMMMMMMMMNXOl;;;;;;
;;;;;;;:OMMMMMMMMMMMMMMMMMMMMMMMWNXK0kxdol::;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:ldk0NWMMMMMMMMMMMMMMMMMMMMMWx;;;;;;
;;;;;:;:OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWNX0Okxdlc::;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;cox0XWMMMMMMMMMMMMMMMMMWx;;;;;;
;;;;;:;:OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWNXK0Oxdolc:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;coxOKNMMMMMMMMMMMMMWx;;;;;;
;;;;;:;:OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWNXK0kxdol::;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:ld0WMMMMMMMMMMWx;;;;;;
;;;;;:;:OMMMMMMMMMMMWNWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWNX0Okxxdlc:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;dNMMMMMMMMMMWx;;;;;;
;;;;;:;:OMMMMMMMMMMMNxldxkOKXNWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWXK0Oxdolc:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;dNMMMMMMMMMMWx;;;;;;
;;;;;:;:OMMMMMMMMMMMXo;:;;;:clodkO0KXNWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWNK0Okdolc::;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;dNMMMMMMMMMMWx;;;;;;
;;;;;:;:OMMMMMMMMMMMXo;::;::;;;;;;;:clodkO0KXNWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWNXKOkxdlc:;;;;;;;;;;;;;;;;;;;;;;;;dNMMMMMMMMMMWx;;;;;;
;;;;;:;:OMMMMMMMMMMMXo;:;;;;;;;;;;;;;;;;;;::cldxkO0XNWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWNK0Okdolc:;;;;;;;;;;;;;;;;dNMMMMMMMMMMWx;;;;;;
;;;;;:;:OMMMMMMMMMMMXo;;;;;;;;;;;;;;;;;;;;;;;;;;;;::cdKMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWNXK0kxdoc:;;;;;;;;;dNMMMMMMMMMMWx;;;;;;
;;;;;:;:OMMMMMMMMMMMXo;:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;c0MMMMMMMMMMMWNNWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWNXKOkxdlc:;dNMMMMMMMMMMWx;;;;;;
;;;;;:;:OMMMMMMMMMMMXo;:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;c0MMMMMMMMMMMKlclodxk0KXNWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWNK0KWMMMMMMMMMMWx;;;;;;
;;;;;:;:OMMMMMMMMMMMXo;:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;c0MMMMMMMMMMMKl;;;;;;;:cldxkOKXNWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWx;;;;;;
;;;;;:;:OMMMMMMMMMMMXo;:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;c0MMMMMMMMMMMKl;;;;;;;;;;;;;;:clodxk0KXNWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWx;;;;;;
;;;;;:;:OMMMMMMMMMMMXo;:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;c0MMMMMMMMMMMKl;;;;;;;;;;;;;;;;;;;;;;:clodxO0KXWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWx;;;;;;
;;;;;:;:OMMMMMMMMMMMW0o:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;c0MMMMMMMMMMMKl;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:cldxkO0XNWMMMMMMMMMMMMMMMMMMMMMMMMMWx;;;;;;
;;;;;:;:OMMMMMMMMMMMMMNkl;;;;;;;;;;;;;;;;;;;;;;;;;;;;c0MMMMMMMMMMMKl;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:codxkOKXNWMMMMMMMMMMMMMMMMMWx;;;;;;
;;;;;;;:xNMMMMMMMMMMMMMWXxc;;;;;;;;;;;;;;;;;;;;;;;;;;c0MMMMMMMMMMMKl;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:dKWMMMMMMMMMMMMMMMMMXo;;;;;;
;;;;;;;;:o0WMMMMMMMMMMMMMWKd:;;;;;;;;;;;;;;;;;;;;;;;;c0MMMMMMMMMMMKl;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;cx0WMMMMMMMMMMMMMMMMWKxc;;;;;;;
;;;;;;;::;:dKWMMMMMMMMMMMMMW0o:;;;;;;;;;;;;;;;;;;;;;;c0MMMMMMMMMMMKl;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:okXWMMMMMMMMMMMMMMMMXOo:;;;;;;;;;
;;;;;;;;;;;;cxXMMMMMMMMMMMMMMNOl;;;;;;;;;;;;;;;;;;;;;c0MMMMMMMMMMMKl;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;cx0WMMMMMMMMMMMMMMMMWKxc;;;;;;;;;;;;
;;;;;;;;;;;;;;lkNMMMMMMMMMMMMMMXkc;;;;;;;;;;;;;;;;;;;c0MMMMMMMMMMMKl;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:oOXWMMMMMMMMMMMMMMMWXOo:;;;;;;;;;;;;;;
;;;;;;;;;:;;;;;:o0WMMMMMMMMMMMMMWKd:;;;;;;;;;;;;;;;;;c0MMMMMMMMMMMKl;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;cxKWMMMMMMMMMMMMMMMMW0xc;;;;;;;;;;;;;;;;;
;;;;;;;:;;;;;;;;;:dKWMMMMMMMMMMMMMW0o:;;;;;;;;;;;;;;;c0MMMMMMMMMMMKl;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:oOXWMMMMMMMMMMMMMMMWXko:;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;:;cxXWMMMMMMMMMMMMMNOl;;;;;;;;;;;;;;c0MMMMMMMMMMMKl;;;;;;;;;;;;;;;;;;;;;;;;;;;;lxKWMMMMMMMMMMMMMMMMN0dc;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;ckNMMMMMMMMMMMMMMNkc;;;;;;;;;;;;:0MMMMMMMMMMMKl;;;;;;;;;;;;;;;;;;;;;;;;;:oONMMMMMMMMMMMMMMMMWXko:;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;:lONMMMMMMMMMMMMMWXxc;;;;;;;;;;c0MMMMMMMMMMMKl;;;;;;;;;;;;;;;;;;;;;;;lxKWMMMMMMMMMMMMMMMMN0dc;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;:o0WMMMMMMMMMMMMMWKd:;;;;;;;;c0MMMMMMMMMMMKl;;;;;;;;;;;;;;;;;;;;:dONMMMMMMMMMMMMMMMMWXkl:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;:dKWMMMMMMMMMMMMMW0o:;;;;;;c0MMMMMMMMMMMKl;;;;;;;;;;;;;;;;;;lkKWMMMMMMMMMMMMMMMMN0dc;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;cxXMMMMMMMMMMMMMMNkl;;;;;c0MMMMMMMMMMMKl;;;;;;;;;;;;;;;cdONMMMMMMMMMMMMMMMMWXkl:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:lONMMMMMMMMMMMMMWXxc;;;c0MMMMMMMMMMMKl;;;;;;;;;;;;:lkKWMMMMMMMMMMMMMMMMN0dc;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:o0WMMMMMMMMMMMMMWKd:;c0MMMMMMMMMMMKl;;;;;;;;;;cd0NMMMMMMMMMMMMMMMMWKkl:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:dKWMMMMMMMMMMMMMW0oc0MMMMMMMMMMMKl;;;;;;;:lkXWMMMMMMMMMMMMMMMMN0dc;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;cxXWMMMMMMMMMMMMMN0XMMMMMMMMMMMKl;;;;;cd0NMMMMMMMMMMMMMMMMWKkl;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;::;;;;;;;;;;;;;;;;;;;;;;ckNMMMMMMMMMMMMMMMMMMMMMMMMMMKl;;:lkXWMMMMMMMMMMMMMMMMNOd:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:lONMMMMMMMMMMMMMMMMMMMMMMMMKddk0NMMMMMMMMMMMMMMMMWKxl;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:o0WMMMMMMMMMMMMMMMMMMMMMMWNWMMMMMMMMMMMMMMMMMNOd:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:dKWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWKxl;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;ckXMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNOo:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;lONMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWKxl;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:o0WMMMMMMMMMMMMMMMMMMMMMMMMMNOo:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:dKWMMMMMMMMMMMMMMMMMMMMWKxc;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;cxXWMMMMMMMMMMMMMMMWXOo:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;ckNMMMMMMMMMMMWKOxc;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:l0WMMMMMMWXOo:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:oKWMMW0xc;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:x0Oo:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
(c) 2018. With ❤ From Tari. 4ATarimB5qPfZgCoLAZ6TRA2oNoLvcFGXBSjHyJaRupx7Kf2GLTe4rwEWiPhKpagYxXkupFNzaURDEEfKVegS9oSTaJp8a3
-->