<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-1">

        {% include svg-gem.html %}

      </div>
      <div class="col-md-5">

        <h1>Built in <strong>Oakland</strong> &amp; <strong>Johannesburg</strong></h1>

        {% include newsletter.html %}

        <p>Copyright &copy; 2018 Tari Labs, LLC. All rights reserved.<br/>
          <a href="{{ site.baseurl }}/privacy_policy">Privacy Policy</a>&nbsp;
          <a href="{{ site.baseurl }}/disclaimer">Disclaimer</a>.
        </p>

      </div>
      <div class="col-md-6">
        <div class="footer-menu clearfix">
          <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/docs">Docs</a></li>
            <li><a href="https://rfc.tari.com/" target="_blank">Tari RFC</a></li>
            <li><a href="https://www.github.com/tari-project" target="_blank">Source code</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="{{ site.baseurl }}/faq">FAQ</a></li>
          </ul>
        </div>
        <div class="footer-socials">
          <ul class="social-icons">
            <li><a href="https://www.twitter.com/tari" target="_blank"><i class="ion-social-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/tarilabs" target="_blank"><i class="ion-social-facebook"></i></a></li>
            <li><a href="https://www.reddit.com/r/tari" target="_blank"><i class="ion-social-reddit"></i></a></li>
            <li><a href="https://www.github.com/tari-project" target="_blank"><i class="ion-social-github"></i></a></li>
            <li><a href="https://t.me/tarilab" target="_blank"><i class="ion-paper-airplane"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
