<form id="email_signup" class=" klaviyo_bare_embed_L5CjJF" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
  <input type="hidden" name="g" value="L5CjJF">
  <div class="klaviyo_messages">
    <div class="success_message" style="display:none;"></div>
    <div class="error_message" style="display:none;"></div>
  </div>
  <div class="klaviyo_field_group">
    <label for="k_id_email">Newsletter Sign Up</label>
    <input type="email" value="" name="email" id="k_id_email" placeholder="Enter email" />
  </div>
  <div class="klaviyo_form_actions">
    <button type="submit" class="btn btn-lg klaviyo_submit_button">Submit</button>
  </div>
  <p class="privacy-agreement">By clicking ‘Submit’, you agree to our <a href="{{ site.baseurl }}/privacy_policy" title="Privacy Policy" target="_blank">Privacy Policy</a>.</p>
</form>
<script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
<script type="text/javascript">
  KlaviyoSubscribe.attachToForms('#email_signup', {
    hide_form_on_success: true
  });
</script>